#wrapper {
background: white;
display: block;
min-height: 100%;
max-width: 1020px;
min-width: 640px;
margin: 0 auto;
border-right: 1px solid #bfc6c7;
border-left: 1px solid #bfc6c7;
}

.top {
display: block;
width: 100%;
height: 470px;
background: url('./assets/designer.jpg') repeat;
background-position: right;
background-size: 1020px 470px;
border-bottom: 1px solid #bfc6c7
}

.top #intro {
position: absolute;
display: block;
margin: 0 6.5%;
top: 177px;
color: white;
text-transform: uppercase;
letter-spacing: 0.25em;
}

#intro h1 {
font-size: 1.2em;
font-weight: 800;
margin: 0;
}

#intro h2 {
font-size: 1em;
font-weight: 700;
margin: 6px 0;
color: #eeeff0;
margin-bottom: 40px;
white-space: nowrap;
}

#intro a{
color: white;
cursor: pointer !important;
letter-spacing: 0.15em;
font-weight: 700;
font-size: 0.9em;
border: 2px solid;
border-radius: 5px;
padding: 9px 10px 8px 10px;
text-decoration: none;
}

#feedbag {
  margin-top: 92px;
}

.logo {
  margin: 0 auto;
  display: block;
  pointer-events: none;
  }

.boxLeft {
  display: inline-block;
  position: relative;
  width: 50%;
  background: white;
  height: 412px;
  float: left;
  border-right: 1px solid #bfc6c7;
}

.specs {
  width: 100%;
  display: block;
  background: #fdfdfd;
  position: absolute;
  bottom: 0;
  border-top: 1px solid rgba(190,198,199,0.4);
  border-bottom: 1px solid #bfc6c7;
  min-height: 96px;
}

 .specs h3 {
  color:#101011;
  display: inline-block;
  font-weight: 700;
  letter-spacing: 0.2em;
  font-size: 0.9em;
  margin: 30px 0px 0px 30px;
 }

 .specs h4 {
  color: #616167;
  font-weight:600px;
  font-size: 0.9em;
  letter-spacing: 0.15em;
  padding-bottom: 22px;
  margin: 4px 30px 0px 30px;
 }

body {
  font-family: sans-serif;
  background: #e8eaef;
  width: 100%;
  min-height: 100%;
  margin: 0;
  display: block;
  margin: 8px;
  text-transform: uppercase;
}
